body{
    background-color: #081b29;
   
    
}
.header-div{
    position: fixed;
    text-align: center;
    font-family: sans-serif;
    width: 100%;
    background-color: rgb(83, 179, 115);
  margin-left: 0;
    margin-top: 0;
   
    height: 90px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}
.header{
   
    font-family: 'Poppins', sans-serif;
   font-size: 40px;
    


}

.box-general{
    align-items: center;
    width: 1200px;
    height: 700px;
 
   
    margin-left: 100px;
}
.box-1 {
    width: 250px;
    height: 250px;
   
    text-align: center;
    display: inline-block;
    margin-top: 140px;
    
}
 .box-1 input{
    width: 100%;
    height: 30px;
    border: 6px solid white;
    
    border-radius: 13px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;


}
.box-1 select{
    width: 100%;
    height: 40px;
    border: 6px solid white
}
.box-1 label{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.box-2{
    text-align: center;
    width: 250px;
    height: 250px;
   
    margin-left: 80px;
    margin-top: 140px;
    display: inline-block;
    vertical-align: top;
    width: 180px;
    border: none;
  border-radius: 6px;
  outline: none;
  
}
.box-2 input{
    width: 98%;
    height: 25px;
    border-radius: 13px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.box-2 select {
    width: 100%;
    height: 30px;
    color: rgb(8, 7, 7);
}
.box-2 label{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.box-3{
float: right;
margin: 100px;
display: inline-block;

}
.box-3 label{
    color: white;
    font-family: 'Poppins', sans-serif;

}
.inp{
    height: 25px;
    border: 6px solid white;
    border-radius: 13px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.searchbtn{
    background-color: rgb(164, 248, 8);
    height: 40px;
    font-family: arial;
    border-radius: 20px;
    border: none;
    margin-left: 30px;
    width: 90px;
    animation-name: example;
    animation-duration: 4s;
  }
  
  @keyframes example {
    from {background-color: rgb(164, 248, 8);}
    to {background-color: red;}
  }


.box-4{
    
  clear: right;
  float: right;
  font-family: 'Poppins', sans-serif;

  width: 300px;
  height: 250px;
  margin-right: 150px;
  margin-top: 0;
 
  
}
.box-4 label{
    color: white;
    font-size: 20px;
}
.box-4 select {
    width: 100%;
    height: 40px;
    border: 6px solid white
}
 .delinp{
    width: 100%;
    height: 40px;
    border: 6px solid white;
    border-radius: 13px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
 }
 .box-4 select{
width: 200px;
height: 27px;
 }
