*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;  
    background-size: cover;
}
body{
    font-family: montserrat; 
    text-align: center;
    background-image: url("image/back\ \(2\).jpg"); 
    opacity: 2;
}
nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background:rgb(67, 67, 182);
   
}
nav img{
  margin-top: 5px;
  margin-left:-5px;
  width: 15%;
  height: auto;
  float: left;
  }
img{
    width: 700px;
    height: 700px;
    float: right;
    border-radius: 70%;
    margin-top: 70px;
    box-shadow: none; 
}
.gold3{
    left: 500px;
}
nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 10 30px;
    line-height: 80px;
}
nav a{
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}
a.active,a:hover{
    border: 1px solid white;
}
.images{
    height: auto;
    width: 100%;
    box-shadow:3px 3px 16px rgb(0,0,0,.7);
    overflow: hidden;
    float: right;
}







   
